{% extends "background.html" %}
{%block content%}
  <div class="container-fluid">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"  href="/">Using Upload Image</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home2/">Using Link Image</a>
        </li>
      </ul>
      <h3 class="mb-4" style="text-align: center;color: #fff;">
          {% comment %} <span style="color:#c93b28">AI + Django created by Duy Dung</span> {% endcomment %}
      </h3>
      <form method="POST">
        {% csrf_token %} 
        {{form}}
        <input class="btn btn-primary" type="submit" value="Submit"> </input>
      </form>
    </div>
    
    <div class="row align-items-center">
      <div class="col">
        <div class="row container">
          <div class="row container">
            <h5 style="text-align: center;color: #fff;">
              <span style="color:#51b340">Origin Image</span>
            </h5>
          </div>
          <div class="row container">
            <img
              src="{{item.imageOrigin.url}}"
              class="rounded"
              alt="..."
              style="
                width: 320px;
                height: 300px;
                display: block;
                margin-left: auto;
                margin-right: auto;
              "
            />
          </div>
        </div>
        <div class="row container">
          <div class="row container">
            <h5 style="text-align: center;color: #fff;">
              <span style="color:#4085b3">Background Image</span>
            </h5>
          </div>
          <div class="row container">
            <img
              src="{{item.imageBackground.url}}"
              class="rounded"
              alt="..."
              style="
                width: 320px;
                height: 300px;
                display: block;
                margin-left: auto;
                margin-right: auto;
              "
            />
          </div>
        </div>
      </div>
      <div class="col">
  
        <h5 style="text-align: center;color: #fff;">
          <span style="color:#fd7e14">New Image</span>
        </h5>
        <img
          src="data:image/png;base64, {{base64_image}}"
          class="rounded float-start"
          alt="..."
          style="width: 640px; height: 600px"
        /> 
      </div>
    </div>
   
{% endblock %}